name: Transformation Pipeline
on:
  workflow_dispatch:
    inputs:
    name:
      description: 'Person to greet'
      required: true
      default: 'Mona the Octocat'
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build: 
    if: ${{ github.event_name == 'push' }}
    name: "Build the application"
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [15.x]

    steps:
    - name: Checkout project 
      uses: actions/checkout@v2
    - name: Install Node
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install dependencies
      run: yarn install --frozen-lockfile
    - name: Tests
      run: yarn test
    - name: create file
      run:  echo ${{ github.run_id }} > tmp.txt
    - name: Archive production artifacts
      uses: actions/upload-artifact@v2
      with:
        name: dist-without-markdown
        path: |
          tmp.txt
  deploy:
    if: ${{ github.event_name == 'workflow_dispatch' }}
    name: "Deploy the application"
    needs: [build]
    runs-on: ubuntu-latest
    steps: 
    - name: Checkout project 
      uses: actions/checkout@v2
    - name: Download a single artifact
      uses: actions/download-artifact@v2
      with:
        name: dist-without-markdown
    - name: display files
      run: cat tmp.txt
    - name: Install packages
      run: yarn install --frozen-lockfile
    - name: Serverless deploy 
      run: npx serverless deploy
      env: 
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}