name: Transformation Pipeline
on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build: 
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [15.x]

    steps:
    - name: Checkout project 
      uses: actions/checkout@v2
    - name: Install Node
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install dependencies
      run: yarn install --frozen-lockfile
    - name: Tests
      run: yarn test